<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Room</th>
      <th>Room Pic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.category_id %></td>
        <td><%= room.floor %></td>
        <td><%= link_to image_tag(room.room_pic.url(:small)), "" %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
